@using System.Collections.Generic
@model System.Collections.Generic.IEnumerable<IPoopToday.Web.Models.ReviewViewModels.ReviewViewModel>
<div class="form-group">
    <div class="row">
        <h3>People submited review: @Model.Count()</h3>
    </div>
    @foreach (var item in Model.Where(x => !string.IsNullOrWhiteSpace(x.Content)))
    {
        <div class="col-md-6 col-lg-10">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">
                            <div class="row">
                            <span class="center-block">
                                @for (int i = 1; i <= item.Rating; i++)
                                {
                                    <img src="~/images/stars/star-on.svg"/>
                                }
                                @for (int i = (int) item.Rating + 1; i <= 5; i++)
                                {
                                    <img src="~/images/stars/star-off.svg"/>
                                }
                            </span>
                            </div>
                        </label>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input class="form-control input-lg" type="text" id="inputLarge" value="@item.Content" disabled>
                            </div>
                            
                        </div>
                    </div>
                </fieldset>
            </form>


        </div>
    }
</div>