﻿@using Microsoft.AspNetCore.Identity
@using IPoopToday.Web.Models
@using IPoopToday.Web.Entities

@inject SignInManager<Shitee> SignInManager
@inject UserManager<Shitee> UserManager
@{
    Shitee user = UserManager.GetUserAsync(User).Result;
    string adressName = user?.FullName;
    if(string.IsNullOrEmpty(adressName))
    {
        adressName = "stranger";
    }

    <div style="margin-right:3em;">
        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a style="cursor: pointer">@($"Hello, {adressName}")!</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link" style="color: white; padding-bottom: 0px;"><i style="font-size: 21px;" class="fa fa-sign-out"></i></button>
                    </li>
                </ul>
            </form>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnurl="@Context.Request.Path">Register</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.Path">Log in</a></li>
            </ul>
        }
    </div>
}
