@using IPoopToday.Web.Models.ReviewViewModels
@using Microsoft.AspNetCore.Mvc.Rendering
@model ReviewViewModel
<div class="form-group" id="add-review">
    <form asp-action="Add" asp-controller="Review" method="post">
        <div class="form-horizontal col-sm-5 col-sm-offset-1">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ShitterID" />
            <div class="form-group">
                <label asp-for="Rating" class="col-md-12 control-label" style="text-align: left"></label>
                <div class="col-md-12">
                    @{ Html.RenderPartial("~/Views/Shared/Partial/StarsPartial.cshtml");}
                    <input type="hidden" asp-for="Rating" id="input-rating" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="col-md-12 control-label"style="text-align: left">Comment (optional):</label>
                <div class="col-md-12">
                    <textarea asp-for="Content" class="form-control" ></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

