@using System
@using IPoopToday.Web.Entities
@using Microsoft.EntityFrameworkCore.Query.Internal
@model ShitterViewModel
@inject UserManager<Shitee> ShiteeManager

@{
    string action = (Model?.IsNew ?? true) ? "Create" : "Edit";
    ViewData["Title"] = action;
}
<div class="custom-table" style="padding-top: 20px">
    <section class="col-sm-4 col-sm-offset-3">
        <h2 style="margin-top: 0px;">@(action) restroom</h2>
        <br/>
        @action
        <form asp-action="@(action)">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Latitude" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Latitude" class="form-control"/>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Longitude" class="form-control"/>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input id="btn-set-pos" type="button"
                               onClick="setCurrentPosition()" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @foreach (var val in Enum
                            .GetValues(typeof(ShitterTagsViewModel))
                            .Cast<ShitterTagsViewModel>()
                            .Where(x => x != ShitterTagsViewModel.None))
                        {
                            string chkId = Guid.NewGuid().ToString();

                            <div>
                                <label for="@chkId">#@val.ToString()</label>
                                <input name="tag_@val.ToString()" id="@chkId"
                                       type="checkbox" @((Model?.Tags.HasFlag(val)??false)?"checked":"")/>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input type="submit" value="@(action)" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(() => {
            setButtonEnabled(true);
            if ("@action" === "Create") setCurrentPosition();
        });

        function setCurrentPosition() {
            setButtonEnabled(false);
            getPos(function (coords) {
                $('#Latitude').val(coords.lat);
                $('#Longitude').val(coords.lng);
                setButtonEnabled(true);
            });
        }

        function getPos(callback) {
            navigator.geolocation.watchPosition(function (myLatlng) {
                    var mapOptions = { lat: myLatlng.coords.latitude, lng: myLatlng.coords.longitude };
                    callback(mapOptions);
                },
                function(error) {
                    var mapOptions = { lat: 43.446405, lng: 24.616477 };
                    callback(mapOptions);
                }, { timeout: 1000 });
        }

        function setButtonEnabled(state) {
            var btn = $('#btn-set-pos');
            if (state) {
                btn.val("Get location...");
                btn.prop("disabled", false);
            } else {
                $('#btn-set-pos').val("Waiting for location...");
                $('#btn-set-pos').prop("disabled", true);
            }
        }
    </script>
}