﻿@using System
@using IPoopToday.Web.Models.ReviewViewModels
@using IPoopToday.Web.Controllers
@using IPoopToday.Web.Entities
@inject UserManager<Shitee> UserManager;
@model ShitterViewModel

@{

    ViewData["Title"] = "View";
}

@section Stylesheets{
    <style>
        .view-wrapper {
            padding-top: 30px;
            padding-left: 10%;
        }

        h1 { display: inline; }

        .avg-rating {
            display: inline;
            padding-bottom: 15px;
        }

        .avg-rating-wrapper { padding-left: 50px; }

        .GPS-Label { font-weight: normal; }

        .long-label { margin-left: 20px; }
        .shitter-tag {
            
            font-size: 16px;
        }
    </style>
}

<div class="view-wrapper row">
    <div class="row">
        <h1>
            <label>@Model.Name</label>
        </h1>


        <span class="avg-rating-wrapper">
            @for (int i = 1; i <= Model.AverageRating; i++)
            {
                <img src="~/images/stars/star-on.svg" class="avg-rating"/>
            }
            @for (int i = (int) Model.AverageRating + 1; i <= 5; i++)
            {
                <img src="~/images/stars/star-off.svg" class="avg-rating"/>
            }
        </span>
        
        <div class="col-sm-offset-7" style="display: inline">
            <div class="btn-group ">
                <button onclick="vote(true)" id="btn-vote-yes" class="btn btn-success">
                    Submit Vote Y<br/>
                    <span id="yes-votes" style="text-align: center"></span>
                </button>
                <button onclick="vote(false)" id="btn-vote-no" class="btn btn-danger">
                    Submit Vote N<br/>
                    <span id="no-votes" style="text-align: center"></span>
                </button>

            </div>
        </div>
    </div>
    <div class="row" style="display: inline;">
        <label class="GPS-Label">&nbsp;&nbsp;&nbsp;&nbsp;Latitude: @Model.Latitude</label>
        <label class="GPS-Label long-label">Longitude: @Model.Longitude</label>
    </div>


    <br/>

    <div class="form-group">
        <div class=" col-md-10">
            @foreach (ShitterTagsViewModel value in Enum.GetValues(typeof(ShitterTagsViewModel)))
            {
                if (value != ShitterTagsViewModel.None &&
                    Model.Tags.HasFlag(value))
                {
                    <div style="display: inline">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#<span class="shitter-tag"><i>@(value.ToString())</i></span>
                    </div>
                }
            }
        </div>
    </div>
    <br/>

    @if (Model.AuthorID == UserManager.GetUserId(User))
    {
        <div class="row">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success">Edit</a>
        </div>
    }
    <div class="row">
        @{ await Html.RenderPartialAsync("_CreateReview", new ReviewViewModel {ShitterID = Model.ID, Rating = Model.AverageRating}); }
    </div>
    <div class="row">
        @await Component.InvokeAsync("ReviewList", new {shitterId = Model.ID})
    </div>


</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        var positiveVote = @Json.Serialize(Model.IsPositiveVote);
        var yesVotes = @Model.VotesYes;
        var noVotes = @Model.VotesNo;
        var shitterId = "@Model.ID";
        var voteUrl = "@Url.Action(nameof(ShitterController.Vote))";
    </script>

    <script src="~/js/vote.js" asp-append-version="true"></script>
}