@using System.Collections.Generic
@model IEnumerable<ShitterViewModel>

@{
    ViewData["Title"] = "Index";
    ViewBag.ListingShitters = true;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(x=>x.AverageRating)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <span class="center-block">
                    @for(int i = 1; i <=item.AverageRating; i++)
                    {
                        <img src="~/images/stars/star-on.svg"/>
                    }
                    @for (int i = (int)item.AverageRating+1; i <= 5; i++)
                    {
                        <img src="~/images/stars/star-off.svg" />
                    }
                </span>
                @*@Html.DisplayFor(x=>item.AverageRating)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="ConfirmDelete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
