@using IPoopToday.Web.Controllers
@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Map";
    ViewBag.MappingShitters = true;
}

@section Stylesheets
{
    <style>

        #map {
            height: calc(100vh - 50px);
            margin-top: 0px;
        }
        .content,
        .container-fluid { padding: 0px !important; }

        .gm-svpc {
            display: none; /*Hide google street view control*/
        }
    </style>
}

<div id="map" class="map-img z-depth-5"></div>
<script type="text/javascript">
    let mapCentered=false;
    function initMap() {
        getPos(function(mapOptions) {
        if(mapCentered)return;
        mapCentered=true;
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var shitters;
            var jqxhr = $.getJSON("@Url.Action(nameof(ShitterController.GetAll))",
                    function() {
                        shitters = JSON.parse(jqxhr.responseText);
                        for (var i = 0; i < shitters.length; i++) {
                            marker = createMarker(shitters[i], map);
                            google.maps.event.addListener(marker, 'click',
                                function() {
                                    window.location.href = this.url;
                                });
                        }
                    })
                .done(function() {
                })
                .fail(function() {
                });
        });
    }

    function createMarker(shitter, map) {
        return new google.maps.Marker({
            position: {
                lat: shitter.latitude,
                lng: shitter.longitude
            },
            title: shitter.name,
            icon: {
                url: getShitterIcon(shitter),
                scaledSize: new google.maps.Size(40, 40)
            },
            map: map,
            url: getDetailsUrl(shitter),
            opacity: shitter.opacity
        });
    }

    function getShitterIcon(shitter) {
        var iconsFolder = "/images/map-icons/";
        var iconName = "toilet";
        var iconExtension = ".png";
        var iconSuffix = "free";
        if (shitter.isPaid) {
            iconSuffix = "paid";
        }
        return iconsFolder + iconName + "-" + iconSuffix + iconExtension;
    }

    function getDetailsUrl(shitter) {
        return '@Url.Action(nameof(ShitterController.Details))/' + shitter.id;
    }

    function getPos(callback) {
        navigator.geolocation.watchPosition(function(myLatlng) {
                var mapOptions = {
                    zoom: 18,
                    center: { lat: myLatlng.coords.latitude, lng: myLatlng.coords.longitude }
                }
                callback(mapOptions);
            },
            function(error) {
                var mapOptions = {
                    zoom: 7,
                    center: { lat: 42.511765, lng: 24.972117 }
                }
                callback(mapOptions);
            });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBIjWx_A8oq0_u6BJb96ydhlT_2iM1VG4&libraries=visualization&callback=initMap" async defer></script>